{% extends "base.html" %}

{% block content %}
    <div class="mainContent">
        <div class="index_text">
            <p>Welcome to the Borda, here you can communicate with other people, create your personal board and manage it,
            I don't know what else to say, so I'll write an omelet recipe here:</p>
            <br>
            <p> 1)  BEAT eggs and water in small bowl until blended.</p>
            <br>
            <p>2) HEAT butter in 6 to 8-inch nonstick omelet pan or skillet over medium-high heat until hot.
                TILT pan to coat bottom. POUR in egg mixture. Mixture should set immediately at edges.</p>
            <br>
            <p>3) Gently PUSH cooked portions from edges toward the center with inverted turner so that uncooked eggs can reach the hot pan surface.
                CONTINUE cooking, tilting pan and gently moving cooked portions as needed.</p>
            <br>
            <p>4) When top surface of eggs is thickened and no visible liquid egg remains, SEASON with salt and pepper.
                PLACE cheese on one side of omelet; TOP with spinach and ham. FOLD omelet in half with turner.
                With a quick flip of the wrist, TURN pan and INVERT or SLIDE omelet onto plate. SERVE immediately.</p>
        </div>
    </div>
{% endblock %}